  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>

    <div class="field">
    <%= f.label :birth %><br>
    <%=


    if @user.birth.blank?
      f.text_field :birth,id: "datepicker", value: ""
    else
     f.text_field :birth,id: "datepicker", value: @user.birth.strftime("%d/%m/%Y")
     end
    %>
  </div>


 




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
