<%= form_for(@vaccine) do |f| %>
  <% if @vaccine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccine.errors.count, "error") %> prohibited this vaccine from being saved:</h2>

      <ul>
      <% @vaccine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<<<<<<< HEAD
  <div class="field">
  <%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => 'Categoria') %>
</div>
=======
>>>>>>> 7e9b44292b43636f7c6e64bf7164d96a098c9534
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
