<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Age min:</strong>
  <%= @category.age_min %>
</p>

<p>
  <strong>Age max:</strong>
  <%= @category.age_max %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
